---
const year = new Date().getFullYear();
---

<footer class="site-footer">
  <p class="site-footer__line">
    GitHub:
    <a href="https://github.com/haoruilee">https://github.com/haoruilee</a>
  </p>
  <p class="site-footer__line">
    Email:
    <a href="mailto:haoruileee@gmail.com">haoruileee@gmail.com</a>
  </p>
  <p class="site-footer__meta">© {year}</p>
</footer>
